/Saved

/Intermediate

/Binaries

/Build

/.vs/BuildingEscape/v14/*.suo

/Content/Collections

/Content/Developers

/.vs
/*.sdf
/Content/StarterContent
/Content/Developers
/Content/StarterContent
/Content/Collections
/*.opendb
/*.db
/*.sln
